<div class="container-fluid">
    <div class="row about_us_panel">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 panel-1">
            <a href="#"><img src="app/images/panel-1.jpg"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 panel-text">
            <br>
            <p class="text_about_us">О НАС</p>
            <p class="panel-text-style">Мы не забыли</p>
            <p class="panel-text-style">про самые <i>счастливые</i> моменты</p>
            <p class="panel-text-style">- те,</p>
            <p class="panel-text-style">что человек проводит</p>
            <p class="panel-text-style"><i>в кругу семьи.</i></p>
            <p class="panel-text-style">Теперь и такое место</p>
            <p class="panel-text-style">появилось в г. Полоцке,</p>
            <p class="panel-text-style">которое уже давно было необходимо горожанам.</p>
            <p class="panel-text-style">Здесь все подчинено одной цели</p>
            <p class="panel-text-style"><i>- вкусный отдых для всех.</i></p>
            <p class="panel-text-style">В нашем кафе вы можете</p>
            <p class="panel-text-style"><i>насладиться музыкой,</i></p>
            <p class="panel-text-style">посетить <i>"вечер кино"</i></p>
            <p class="panel-text-style">и просто запечатлеть моменты</p>
            <p class="panel-text-style">вашей жизни,</p>
            <p class="panel-text-style">которые хочется помнить</p>
            <p class="panel-text-style"><i>всегда!</i></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs panel-2">
            <a href="#"><img src="app/images/panel-2.jpg"></a>
        </div>
    </div>
</div>