<div class="container-fluid">
    <div class="row foot">
        <footer id="footer">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 one">
                <p class="text-footer-h">QUICK COFFEE</p>
                <p class="text-footer">Г. ПОЛОЦК, ПР-Т Ф. СКОРИНЫ 13</p>
                <p class="text-footer">Г. НОВОПОЛОЦК, УЛ. КАЛИНИНА 5А</p>
                <p class="text-footer">Г. НОВОПОЛОЦК, УЛ. НЕФТЯНИКОВ 6 ТЦ "ЗОДИАК"</p>
                <p class="author">Anastasiya Shaulo &copy; All Rights Reserverd</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 two">
                <p class="text-footer-h">ВРЕМЯ РАБОТЫ:</p>
                <p class="text-footer">ПН - ЧТ: 9:00 - 20:00</p>
                <p class="text-footer">ПТ: 9:00 - 24:00</p>
                <p class="text-footer">СБ: 11:00 - 24:00</p>
                <p class="text-footer">ВС: 11:00 - 22:00</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 three">
                <p class="text-footer-h">ИЩИТЕ НАС:</p>
                <p><a href="https://vk.com/quick_coffee" class="vk blok transition" target="_blank"  > </a></p>
                <p><a href="https://www.instagram.com/quickcoffee2013/" class="inst block transition" target="_blank"> </a></p>
            </div>
        </footer>
    </div>
</div>