<div class="container-fluid" >
    <div class="row main">
        <div class="col-lg-3 col-md-6 col-sm-6 hidden-xs desc1">
            <br>
            <br>
            <p class="desk_text">Рады представить Вам кафе</p>
            <p class="desk_text">быстрого питания</p>
            <img src="app/images/line1.png" class="line">
            <p class="h_desk_center">QUICK COFFEE</p>
            <img src="app/images/line2.png" class="line1">
            <p class="desk_text">подстроенное под быстрый</p>
            <p class="desk_text">темп городской жизни </p>
            <p class="desk_text">и считающие своим долгом </p>
            <p class="desk_text">включить в меню</p>
            <p class="desk_text">бургеры и сэндвичи.</p>
        </div>
        <div class="col-lg-6 hidden-md hidden-sm hidden-xs cars">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <!--Индикаторы слайдов-->
                <ol class="carousel-indicators">
                    <li class="active" data-target="#carousel" data-slide="0"></li>
                    <li data-target="#carousel" data-slide="1"></li>
                    <li data-target="#carousel" data-slide="2"></li>
                    <li data-target="#carousel" data-slide="3"></li>
                </ol>
                <!--Слайды-->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="app/images/nov-cafe.jpg" alt="nov-cafe">
                        <div class="carousel-caption">
                            <p class="car-text">Новое кафе "Quick Coffee" в г. Новополоцке</p>
                            <p class="car-text">По адресу: ул. Калинина 5а</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="app/images/nov-cafe1.jpg" alt="nov-cafe1">
                        <div class="carousel-caption">
                            <p class="car-text">Новое кафе "Quick Coffee" в г. Новополоцке</p>
                            <p class="car-text">По адресу: ул. Калинина 5а</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="app/images/nov-cafe2.jpg" alt="nov-cafe2">
                        <div class="carousel-caption">
                            <p class="car-text">Новое кафе "Quick Coffee" в г. Новополоцке</p>
                            <p class="car-text">По адресу: ул. Калинина 5а</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="app/images/nov-cafe3.jpg" alt="nov-cafe3">
                        <div class="carousel-caption">
                            <p class="car-text">Новое кафе "Quick Coffee" в г. Новополоцке</p>
                            <p class="car-text">По адресу: ул. Калинина 5а</p>
                        </div>
                    </div>
                </div>
                <!--Стрелки переключения слайдов-->
                <a href="#carousel" class="left carousel-control" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                <a href="#carousel" class="right carousel-control" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right">
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 deskrip">
            <br>
            <p class="deskrip-text">Мы будем рады Вас</p>
            <p class="deskrip-text">приветствовать в нашем кафе!</p>
            <p class="deskrip-text">Кафе для ВСЕХ</p>
            <p class="deskrip-text">Адрес:</p>
            <p class="deskrip-text">г. Полоцк, пр-т Ф. Скорины, д. 13</p>
            <p class="deskrip-text">Контактный номер телефона:</p>
            <p class="deskrip-text">+ 375 29 619 50 09</p>
            <p class="deskrip-text">Режим работы:</p>
            <p class="deskrip-text">Пн - Чт с 9:00 до 22:00</p>
            <p class="deskrip-text">Пт с 9:00 до 24:00</p>
            <p class="deskrip-text">Сб с 11:00 до 24:00</p>
            <p class="deskrip-text">Вс с 11:00 до 22:00</p>
            <p class="deskrip-text">Адреса наших объектов:</p>
            <p class="deskrip-text">г. Новополоцк, ул. Нефтяников 6</p>
            <p class="deskrip-text">г. Новополоцк, ул. Калинина 5а</p>
        </div>
    </div>
</div>