<div class="container-fluid">
    <div class="row vidgets">
        <div class="col-lg-7 col-md-8 hidden-sm hidden-xs commets">
            <p class="text_photo">ОСТАВЬТЕ ВАШ ОТЗЫВ О НАС:</p>
            <div id="vk_comments"></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 vidg gradient">
            <p class="text_photo">НОВИНКИ МЕНЮ</p>
            <div id="carousel1" class="carousel slide" style="width: 250px; margin: 0 auto" data-ride="carousel">
                <!--Индикаторы слайдов-->
                <ol class="carousel-indicators">
                    <li class="active" data-target="#carousel1" data-slide="0"></li>
                    <li data-target="#carousel1" data-slide="1"></li>
                    <li data-target="#carousel1" data-slide="2"></li>
                    <li data-target="#carousel1" data-slide="3"></li>
                    <li data-target="#carousel1" data-slide="4"></li>
                    <li data-target="#carousel1" data-slide="5"></li>
                    <li data-target="#carousel1" data-slide="6"></li>
                    <li data-target="#carousel1" data-slide="7"></li>
                </ol>
                <!--Слайды-->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="app/images/slider/time.jpg" alt="nov-cafe">
                    </div>
                    <div class="item">
                        <img src="app/images/slider/quickcoffee.jpg" alt="nov-cafe">
                    </div>
                    <div class="item">
                        <img src="app/images/slider/burger.jpg" alt="nov-cafe1">
                    </div>
                    <div class="item">
                        <img src="app/images/slider/panini.jpg" alt="nov-cafe2">
                    </div>
                    <div class="item">
                        <img src="app/images/slider/orangeshok.jpg" alt="nov-cafe3">
                    </div>
                    <div class="item">
                        <img src="app/images/slider/latte.jpg" alt="nov-cafe3">
                    </div>
                    <div class="item">
                        <img src="app/images/slider/marshmelloy.jpg" alt="nov-cafe3">
                    </div>
                </div>
                <!--Стрелки переключения слайдов-->
                <a href="#carousel1" class="left carousel-control" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                <a href="#carousel1" class="right carousel-control" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right">
                    </span>
                </a>
            </div>
            <p class="text_photo">АФИША МЕРОПРИЯТИЙ</p>
            <img class="afisha" src="app/images/afisha.jpg" alt="afisha">
            <p class="text_photo">НАШИ ОБЪЕКТЫ НА КАРТЕ:</p>
            <div id="map" class="afisha"></div>
        </div>
    </div>
</div>